<div id="header">
  <div class="top">
    <div id="logo">
      <span class="image avatar48"><img src="assets/images/avatar.jpg" alt=""/></span>
      <h1 id="title">Emre Ucuzoglu</h1>
      <p>Senior Software Engineer</p>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#intro" id="intro-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a>
        </li>
        <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span
          class="icon fa-user">About Me</span></a></li>
        <li><a href="#work" id="work-link" class="skel-layers-ignoreHref"><span
          class="icon fa-code">Work Experience</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <ul class="icons">
      <li><a target="_blank" href="https://tr.linkedin.com/in/emreucuzoglu" class="icon fa-linkedin"><span
        class="label">LinkedIn</span></a></li>
      <li><a target="_blank" href="https://twitter.com/emreucuzoglu" class="icon fa-twitter"><span
        class="label">Twitter</span></a></li>
      <li><a target="_blank" href="https://github.com/emreucuzoglu" class="icon fa-github"><span
        class="label">Github</span></a></li>
      <li><a target="_blank" href="https://www.facebook.com/emreucuzoglu" class="icon fa-facebook"><span class="label">Facebook</span></a>
      </li>
      <li><a target="_self" href="skype:emreucuzoglu" class="icon fa-skype"><span class="label">Skype</span></a></li>
      <li><a target="_self" href="mailto:emre@ucuzoglu.com" class="icon fa-envelope"><span
        class="label">Email</span></a></li>
    </ul>
  </div>
</div>
